.navbar {
  width: 100%;
  background-color: #4F6467;
  height: 66px;
  position: fixed;
  top: 0px;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  box-sizing: border-box;
  transition: top 0.3s;
}

.navbar a {
  float: left;
  text-align: center;
  width: 33.333333333%;
  padding: 12px 0;
  transition: background-color 0.3s ease;
  color: white;
  font-size: 36px;
  height: 42px;
  text-decoration: none;
}

.navbar > a:hover {
  background-color: #BB3E52;
}

.active {
  background-color: #E13F55;
}
.navbar > .active:hover{
  background-color: #f25166;
}
 iframe {
  border: 2px black solid;

 }
body {
  margin-left: 0;
}

#main {
  padding-top: 66px;
}

h1 {
  font-size: 72px;
  color: #E13F55;
  padding-left: 25px;
  font-family: monospace, sans-serif;
}

p {
  text-align: left;
  width: 950px;
  font-size: 32px;
  display: inline-block;
  vertical-align: top;
  font-family: calibri;
}

img {
  display: inline-block;
  padding-top: 40px;
  transition: transform 1s;
}

article {
  text-align: center;
  margin: auto;
  vertical-align: top;
  width: 1150px;
}


      img.focus {
        transform: scale(1.25);
      }
