body {
  background-color: #f4f7f3;
}
.navbar {
  width: 100%;
  background-color: #4F6467;
  height: 66px;
  position: fixed;
  top: 0px;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  box-sizing: border-box;
  transition: top 0.3s;
}

.navbar a {
  float: left;
  text-align: center;
  width: 25%;
  padding: 12px 0;
  transition: background-color 0.3s ease;
  color: white;
  font-size: 36px;
  height: 42px;
  text-decoration: none;
}

.navbar > a:hover {
  background-color: #BB3E52;
}

.active {
  background-color: #E13F55;
}
.navbar > .active:hover{
  background-color: #f25166;
}
 iframe {
  border: 2px black solid;

 }
body {
margin-left: 0;

}
#main {
  padding-top: 66px;

}

h1 {
  font-size: 48px;
  color: #E13F55;
  padding-left: 25px;
}
p {
  text-align: left;
  width: 950px;
  font-size: 32px;
  padding-left: 50px;
}
