.navbar {
  width: 100%;
  background-color: #555;
  height: 66px;
  position: fixed;
  top: 0px;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  box-sizing: border-box;
  transition: top 0.3s;
}

.navbar a {
  float: left;
  text-align: center;
  width: 25%;
  padding: 12px 0;
  transition: background-color 0.3s ease;
  color: white;
  font-size: 36px;
  height: 42px;
  text-decoration: none;
}

.navbar > a:hover {
  background-color: #000;
}

.active {
  background-color: #BB0000;
}
 iframe {
  border: 2px black solid;

 }
body {
margin-left: 0;

}
#main {
  padding-top: 66px;

}
